/* products.css */

/* Products Section */
#products {
    padding: 50px 0;
}

.list_products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.product-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product-item a{
    text-decoration: none;
}
.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #e4ab85;
}

.product-description {
    font-size: 14px;
    color: #e4ab85;
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: #e4ab85;
    margin-bottom: 10px;
}

.btn {
    background-color: #333;
    color: #f78da7;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

/* Sidebar Widget */
.sidebar_widget {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.widget {
    margin-bottom: 20px;
   
}

.widget-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}

.category-list li {
    margin-bottom: 10px;
}
.category-list li a{
    text-decoration: none;
    color: #e4ab85;
}

.search-form {
    display: flex;
}

.search-form input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
}

.search-form button:hover {
    background-color: #555;
}
